body {

  background: #000;

  color: #d8ecff;

  font-family: monospace;

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  overflow: hidden;

}

/* ruido de fondo */

.noise {

  position: absolute;

  width: 100%;

  height: 100%;

  background-image:
  radial-gradient(
  rgba(255,255,255,0.03) 1px,
  transparent 1px);

  background-size: 4px 4px;

  opacity: 0.15;

}

/* caja principal */

.container {

  position: relative;

  text-align: center;

  z-index: 2;

}

/* texto superior */

.status {

  color: #7d9bb8;

  font-size: 12px;

  margin-bottom: 20px;

  letter-spacing: 2px;

}

/* título */

h1 {

  font-size: 28px;

  margin-bottom: 25px;

  text-shadow:
  0 0 5px #5c89b3;

}

/* input */

input {

  background: rgba(0,0,0,0.8);

  border: 1px solid #4c6f92;

  color: white;

  padding: 12px;

  width: 260px;

  font-size: 16px;

  outline: none;

}

/* botón */

button {

  margin-top: 15px;

  padding: 10px 20px;

  background: #162330;

  color: white;

  border: none;

  cursor: pointer;

  transition: 0.3s;

}

button:hover {

  background: #28415a;

}

/* mensajes */

#message {

  margin-top: 20px;

  color: #9ec5eb;

  letter-spacing: 3px;

  animation: flicker 1.5s infinite;

}

@keyframes flicker {

  0% {

    opacity: 1;

  }

  50% {

    opacity: 0.5;

  }

  100% {

    opacity: 1;

  }

}
/* glitch del título */

h1 {

  animation: glitch 2s infinite;

}

@keyframes glitch {

  0% {

    text-shadow:
    2px 0 #4d8db8,
    -2px 0 #6b3fa1;

  }

  25% {

    text-shadow:
    -2px 0 #4d8db8,
    2px 0 #6b3fa1;

  }

  50% {

    text-shadow:
    2px 2px #4d8db8,
    -2px -2px #6b3fa1;

  }

  75% {

    text-shadow:
    -2px 2px #4d8db8,
    2px -2px #6b3fa1;

  }

  100% {

    text-shadow:
    2px 0 #4d8db8,
    -2px 0 #6b3fa1;

  }

}
/* respiración de pantalla */

body {

  animation: pulse 6s infinite;

}

@keyframes pulse {

  0% {

    opacity: 1;

  }

  50% {

    opacity: 0.96;

  }

  100% {

    opacity: 1;

  }

}
/* directorio secreto */

#directory {

  margin-top: 40px;

  border: 1px solid #3c5d7d;

  padding: 20px;

  width: 320px;

  background: rgba(0,0,0,0.6);

  box-shadow:
  0 0 10px rgba(80,120,160,0.3);

}

#directory h2 {

  color: #9ec5eb;

  margin-bottom: 20px;

  letter-spacing: 3px;

}

.files p {

  color: #cfe6ff;

  padding: 8px;

  border-bottom:
  1px solid rgba(255,255,255,0.1);

  cursor: pointer;

  transition: 0.3s;

}

.files p:hover {

  background:
  rgba(100,140,180,0.1);

  padding-left: 15px;

}
/* archivo de audio */

#audioFile {

  margin-top: 30px;

  border: 1px solid #4d6d8f;

  padding: 20px;

  width: 320px;

  background:
  rgba(0,0,0,0.75);

  box-shadow:
  0 0 15px
  rgba(90,130,170,0.2);

  animation:
  flicker 2s infinite;

}
/* reproductor de audio */

audio {

  margin-top: 20px;

  width: 100%;

  opacity: 0.7;

  filter: contrast(120%);

}